<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"isDark":true} -->
<div class="wp-block-cover is-dark">
    <span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span>
    <div class="wp-block-cover__inner-container">
        <!-- wp:post-title {"level":1} /-->
    </div>
</div>
<!-- /wp:cover -->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:pattern {"slug":"kiwi-dev-wp-block-theme/post-meta"} /-->
</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"2rem"} -->
<div style="height:2rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns -->
<div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:post-navigation-link {"textAlign":"right","showTitle":true} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer"} /-->
